{% extends '::base.html.twig' %}

{% block _body %}  <h2>Personal</h2> {% endblock %}
{% block body %}

    <h2>Registro</h2>
    <br>

    {{ form_start(form) }}
    {{ form_errors(form) }}


    <div class="form-group">       
        {{ form_label(form.datos.nombres) }}
        {{ form_errors(form.datos.nombres) }}
        <div class="col-lg-4">
            {{ form_widget(form.datos.nombres) }}
        </div>
    </div>

    <div class="form-group">       
        {{ form_label(form.datos.apellidos) }}
        {{ form_errors(form.datos.apellidos) }}
        <div class="col-lg-4">
            {{ form_widget(form.datos.apellidos) }}
        </div>
    </div>


    <div class="form-group">       
        {{ form_label(form.datos.cedula) }}
        {{ form_errors(form.datos.cedula) }}
        <div class="col-lg-4">
            {{ form_widget(form.datos.cedula) }}
        </div>
    </div>



    <div class="form-group">       
        {{ form_label(form.procedencia) }}
        {{ form_errors(form.procedencia) }}
        <div class="col-lg-4">
            {{ form_widget(form.procedencia) }}
        </div>
    </div>


    <div class="form-group">       
        {{ form_label(form.tipo) }}
        {{ form_errors(form.tipo) }}
        <div class="col-lg-4">
            {{ form_widget(form.tipo) }}
        </div>
    </div>


    <div class="form-group">       
        {{ form_label(form.sas) }}
        {{ form_errors(form.sas) }}
        <div class="col-lg-4">
            {{ form_widget(form.sas) }}
        </div>
    </div>

    <div class="form-group">       
        {{ form_label(form.especialidad) }}
        {{ form_errors(form.especialidad) }}
        <div class="col-lg-4">
            {{ form_widget(form.especialidad) }}
        </div>
    </div>


    {% if is_granted('ROLE_ADMIN') %}     
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    {% endif %}

    {{ form_end(form) }} 

    <ul class="table">
        <li>
            <a href="{{ path('personal') }}">Regresar a la lista</a>
        </li>

    </ul>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>

        function displayVals() {
            var solonumero = $("#cdi_enfermeriabundle_usuarios_datos_cedula").val();
            var tipo = $("#cdi_enfermeriabundle_personal_tipo").val();
            var sas = $("#cdi_enfermeriabundle_personal_sas").val();
            var especialidad = $("#cdi_enfermeriabundle_personal_especialidad").val();

            if (tipo == "doctor") {
                 $(".sas").css("display", "block"); // Mostrar el div sas
                $("#cdi_enfermeriabundle_personal_sas").removeAttr("disabled"); //  Activo sas 
                $("#cdi_enfermeriabundle_personal_sas").attr("required","required");
                $(".especialidad").css("display", "block"); // Mostrar el div especialidad
                $("#cdi_enfermeriabundle_personal_especialidad").removeAttr("disabled"); //  Activo especialidad 
                $("#cdi_enfermeriabundle_personal_especialidad").attr("required","required"); //  Activo especialidad 
            }
            else {
               $(".sas").css("display", "none"); // Oculta el div sas
                $('#cdi_enfermeriabundle_personal_sas').val(''); // el select de tipo lo inicializa
                $("#cdi_enfermeriabundle_personal_sas").prop('disabled', 'disabled'); // desabilita el select sas
                $("#cdi_enfermeriabundle_personal_sas").removeAttr("required");//remover atributo requerido

                $(".especialidad").css("display", "none"); // Oculta el div especialidad
                $('#cdi_enfermeriabundle_personal_especialidad').val(''); // el select de especialidad y lo inicializa
                $("#cdi_enfermeriabundle_personal_especialidad").prop('disabled', 'disabled'); // desabilita el select especialidad
                $("#cdi_enfermeriabundle_personal_especialidad").removeAttr("required");//remover atributo requerido
            }
        }

        $("select").change(displayVals);

        $(document).ready(function () {
            $('#cdi_enfermeriabundle_personal_datos_cedula').keypress(function (tecla) {
                if (tecla.charCode < 48 || tecla.charCode > 57)
                    return false;
            });

            $('#cdi_enfermeriabundle_personal_datos_cedula').bind("cut copy paste", function (e) {

                e.preventDefault();

            });
            $("#cdi_enfermeriabundle_personal_sas").parent().parent().wrapAll('<div class="sas">');
            $("#cdi_enfermeriabundle_personal_especialidad").parent().parent().wrapAll('<div class="especialidad">');
            $(".sas").css("display", "none"); // Oculta el div sas
            $(".especialidad").css("display", "none"); // Oculta el div especialidad  


        });


    </script>

{% endblock %}

