{% extends '::base.html.twig' %}

{% block _body %}  <h2>Signos Vitales Suministrados</h2> {% endblock %}

{% block body %}

    <table class="table" id="tb1">
        <thead>
            <tr>
                <th>#</th>
                <th>Paciente</th>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('signosvitalessuministrados_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                    <td>{{ entity.consulta.paciente }}</td>
                    <td>{{ entity.consulta.paciente.datos.cedula }}</td>
                    <td>{{ entity.nombre | title }}</td>
                    <td>{{ entity.valor }}</td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('signosvitalessuministrados_show', { 'id': entity.id }) }}">Ver</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('signosvitalessuministrados_edit', { 'id': entity.id }) }}">Editar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paginacion" style="text-align: center"> {{ knp_pagination_render(pagination) }}  </div>
    {% if is_granted('ROLE_ADMIN') %}       
        <ul>
            <li>
                <a href="{{ path('signosvitalessuministrados_new') }}">
                    Crear nueva entidad
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
