{% extends '::base.html.twig' %}

{% block _body %}  <h2>Programas de Formación de Grado</h2> {% endblock %}

{% block body %}
    <br> <br>

    <table class="table" id="dataTables-pfg">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('pfg_show', { 'id': entity.id }) }}">{{ loop.index  }}</a></td>
                    <td>{{ entity.nombre | title }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('pfg_show', { 'id': entity.id }) }}">Ver</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('pfg_edit', { 'id': entity.id }) }}">Editar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {#  <div class="paginacion" style="text-align: center"> {{ knp_pagination_render(pagination) }}</div>#}
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('pfg_new') }}">
                    Crear nueva entidad
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
   {{parent()}}
    <!-- DataTables JavaScript -->
        <script src="{{ asset('bundles/enfermeria/js/jquery.dataTables.min.js') }}"></script> 
        

    <script type="text/javascript">
        $(document).ready(function () {

            $('#dataTables-pfg').dataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar: ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            }
            );

        });
    </script>
{% endblock %}
