{% extends '::base.html.twig' %}
{% block _body %}  <h2>Programas de Formación de Grado</h2> {% endblock %}
{% block body %}

    <h2>Registro</h2>
    <br>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">       
        {{ form_label(form.nombre) }}
        {{ form_errors(form.nombre) }}
        <div class="col-lg-4">
            {{ form_widget(form.nombre) }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}       
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    {% endif %}

    {{ form_end(form) }} 


    <ul class="table">
        <li>
            <a href="{{ path('pfg') }}">
                Regresar a la lista
            </a>
        </li>
    </ul>
{% endblock %}